*.iml
.gradle
/local.properties
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/codeStyles
/.idea/caches
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/res/values/tokens.xml
